@model IEnumerable<prjMVCDemo.Models.CShoppingCartItem>

@{
    ViewBag.Title = "CartView";
}

<h2>檢視購物車</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.小計)
        </th>
    </tr>

@{
    int count = 0;
    decimal pay = 0,
            tax = 0;
    foreach (var item in Model)
    {
        count++;
        pay += item.小計;
    <tr>
        <td>
            @count 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.小計)
        </td>
        <td>
            @Html.ActionLink("取消", "Delete", "Shopping", new { id = (count - 1) },new { @class = "btn btn-danger" } )
        </td>
    </tr>
    }
    tax = pay * 0.05m; // m:deciaml 不寫會是double
    }
</table>
<li>交易金額: @pay.ToString("0")</li>
<li>稅   額: @tax.ToString("0")</li>
<li>應付金額: @((pay+tax).ToString("0"))</li>